<div>
  <img class="responsive-img" src="https://i.imgur.com/XQ8sAC3.jpg">
</div>

<div>
  <a ui-sref="handbags"><img class="responsive-img" src="https://i.imgur.com/qBvzSji.png"></a>
</div>

<div class="gallery js-flickity" >
  <div class="gallery-cell" id="blockOne"></div>
  <div class="gallery-cell" id="blockTwo"></div>
  <div class="gallery-cell" id="blockThree"></div>
  <div class="gallery-cell" id="blockFour"></div>
  <div class="gallery-cell" id="blockFive"></div>
</div>

<div class="dresses">
  <a ui-sref="dresses"><img id="imageOne" class="responsive-img" class="materialboxed" data-caption="A picture of some deer and tons of trees" width="357" src="https://i.imgur.com/ZivhKP7.png"></a>
  <img id="imageTwo" class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="https://i.imgur.com/KVT0FBn.png">
  <img id="imageThree" class="materialboxed" data-caption="A picture of some deer and tons of trees" width="247" src="https://i.imgur.com/FR6lQJZ.png">
  <img id="imageFour" class="materialboxed" data-caption="A picture of some deer and tons of trees" width="232" src="https://i.imgur.com/niXzuVo.png">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

