<div ng-if="vm.products[0].type === 'dress'">
  <img class="responsive-img" src="https://i.imgur.com/txfaZGZ.jpg">
</div>
<div ng-if="vm.products[0].type === 'shoes'">
  <img class="responsive-img" src="https://i.imgur.com/0TU5b5g.jpg">
</div>
<div ng-if="vm.products[0].type === 'handbag'">
  <img class="responsive-img" src="https://i.imgur.com/ckQfgQy.png">
</div>


<div class="row" id="product-section">
  <div class="col s12 m7">
    <img class="product-image" ng-repeat="product in vm.products" ng-src="{{product.imageURL}}"
      ng-click="vm.showProduct(product)"
      class="block-product-{{$index+1}}">
  </div>
</div>


<!-- <div id="container">
  <div id="block-one-dresses" class="topNbottom" ></div>
  <div id="altContainer" class="topNbottom">
    <div id="block-two-dresses" style="width: 172px"></div>
    <div id="block-three-dresses" style="width: 172px"></div>
    <div id="block-four-dresses" style="width: 348px"></div>
  </div>
  <div id="block-five-dresses" style="width: 212px"></div>
  <div id="block-six-dresses" style="width: 272px"></div>
  <div id="block-seven-dresses" style="width: 212px"></div>
  <div id="block-eight-dresses" class="topNbottom"></div>
  <div id="block-nine-dresses" class="topNbottom"></div>
</div> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

