<div ng-if="vm.products[0].type === 'dress'">
  <img class="responsive-img" src="https://i.imgur.com/txfaZGZ.jpg">
</div>
<div ng-if="vm.products[0].type === 'shoes'">
  <img class="responsive-img" src="https://i.imgur.com/0TU5b5g.jpg">
</div>
<div ng-if="vm.products[0].type === 'handbag'">
  <img class="responsive-img" src="https://i.imgur.com/ckQfgQy.png">
</div>

<div class="container">
    <img ng-repeat="product in vm.products" ng-src="{{product.imageURL}}"
      ng-click="vm.showProduct(product)"
      class="block-product-{{$index+1}}">
</div>


<!-- <div id="container">
  <div id="block-one-dresses" class="topNbottom" ></div>
  <div id="altContainer" class="topNbottom">
    <div id="block-two-dresses" style="width: 172px"></div>
    <div id="block-three-dresses" style="width: 172px"></div>
    <div id="block-four-dresses" style="width: 348px"></div>
  </div>
  <div id="block-five-dresses" style="width: 212px"></div>
  <div id="block-six-dresses" style="width: 272px"></div>
  <div id="block-seven-dresses" style="width: 212px"></div>
  <div id="block-eight-dresses" class="topNbottom"></div>
  <div id="block-nine-dresses" class="topNbottom"></div>
</div> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

<!-- $index  / style="background-image: url({{dress.imageURL}})" / overflow hidden -->
<!-- set all div to position relative  images is going absolute but positioned relative to where the div to left corner -->
<!-- style="background-image: url('https://i.imgur.com/8H8S0Eu.png')" -->
<!--     <h3>{{product.occassion}}</h3>
    <p>size: {{product.size}}</p>
    <p>color: {{product.color}}</p>
    <p>quantity: {{product.quantity}}</p> -->
    <!-- <button ng-click="vm.addToTote(product)">Add to Tote</button> -->
